.chartContainer {
  margin-right: 2rem;
  margin-top: 2rem;
  width: 35rem;
  height: 38rem;
  box-shadow: $shadow;
  padding: 3rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-1rem);
  }

  @include respond(sm-laptop) {
    width: 40rem;
    height: 43rem;
  }

  @include respond(tab-land) {
    width: 35rem;
    height: 38rem;
  }

  @include respond(tab-port) {
    width: 40rem;
    height: 43rem;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
  }
}
