.walletTracker {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-space {
    background-image: $space-background;
    color: $color-white;
  }

  &-dark {
    background-image: $dark-background;
    color: $color-white;
  }

  &-matrix {
    background-color: $matrix-background;
    color: $color-green;
  }

  &-light {
    background-color: $light-background;
    color: $color-purple;
  }

  // First main container

  &__spotAndFutures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin-top: 10rem;

    @include respond(tab-land) {
      flex-direction: column;
    }
  }

  // Spot and Futures table and content container/wrapper
  &__wrapper {
    width: 49%;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-of-type {
      @include respond(tab-land) {
        margin-top: 3rem;
      }
    }

    @include respond(tab-land) {
      width: 80%;
      margin-top: 10rem;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__table {
    &--header {
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__cards {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include respond(tab-land) {
      flex-direction: column;
    }

    &--wrapper {
      width: 49%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @include respond(tab-land) {
        width: 80%;
      }

      @include respond(tab-port) {
        flex-direction: column;
        width: 100%;
      }
    }
  }

  &__statsAndCharts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
    margin-top: 5rem;

    @include respond(sm-laptop) {
      flex-direction: column;
    }
  }

  &__charts {
    // width: 43%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-bottom: 12rem;

    &--wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      &:last-of-type {
        margin-top: 3rem;
      }
    }

    &--header {
      font-size: 2rem;
      color: inherit;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    &--box {
      display: flex;
      align-items: center;

      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(sm-laptop) {
      margin-top: 5rem;
    }

    &--header {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 600;
      color: inherit;
      text-align: center;
      letter-spacing: 0.8rem;
      margin-bottom: 3rem;
    }

    &--card {
      height: 28rem;
      width: 45rem;
      box-shadow: $shadow;
      margin-top: 6rem;
      border-radius: 2rem;
      position: relative;
      text-align: center;
      overflow: hidden;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-1rem);
      }

      @include respond(tab-port) {
        height: 26rem;
        width: 40rem;
      }
    }

    &--cardContainer {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 1.5rem;
        color: inherit;
        font-weight: 700;
        margin-left: 2rem;
        margin-bottom: 2rem;
        z-index: 100;
      }
    }

    &--circle {
      position: absolute;
      top: -8rem;
      left: -8rem;
      background-color: rgba($color-green, 0.8);
      border-radius: 50%;
      width: 30rem;
      height: 30rem;
    }
  }
}
